.dark {
    background-color: #313539;
}
.footer-text {
    color: #989D9F;
    font-size: .8rem;
}
.footer-link {
    color: #989D9F;
    text-decoration: none;
}
html.dark {
    color-scheme: dark;
}
.emoji {
    font-family: "Noto Color Emoji", serif;
}