.dark {
    background-color: #313539;
}
.footer-text {
    color: #818589;
    font-size: .8rem;
}
.footer-link {
    color: #818589;
    text-decoration: none;
}
html.dark {
    color-scheme: dark;
}   